@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
.request * {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.request {
    display: flex;
    padding: 30px;
}
.request-left {
    width: 30%;
    margin-right: 35px;
}
.request-right {
    width: 70%;
}
.request-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.request-group_no-space-between {
    justify-content: normal;
}
.request-header {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 40px;
}
label {
    width: 48%;
    position: relative;
}
label span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
}
label.large {
    width: 100%;
}
label span {
    display: block;
}
label .select-arrow {
    position: absolute;
    top: 47px;
    right: 30px;
}
label input, label select {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #969B9B;
    border: 1px solid #969B9B;
    border-radius: 100px;
    padding-left: 24px;
    padding-top: 14px;
    padding-right: 48px;
    padding-bottom: 14px;
    width: 100%;
    outline: none;
}
select.hide-arrow {
    -moz-appearance: none;
    -webkit-appearance: none;
}
select.hide-arrow::-ms-expand {
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type=range] {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: transparent;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: none;
}
input[type=range]:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left:0;
    width: 100%;
    height:4px;
    background-color: #202123;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #202123;
    cursor: pointer;
    border-radius: 50%;
}
.list-item{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 34px;
    opacity: 0.3;
}
.list-item-active {
    opacity: 1;
}
.list-item img {
    width: 24px;
    margin-right: 25px;
}
button {
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #4547C2;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4547C2;
    padding: 0 32px;
    cursor: pointer;
    margin-right: 30px;
    background-color: #fff;
}
.button-active {
    background-color: #4547C2;
    color: #fff;
}
form.closed {
    position: relative;
}
form.closed:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
form.closed button {
    color: #D3D6DB;
    border: 2px solid #D3D6DB;
}
form.closed button.button-active {
    background-color: #D3D6DB;
    color: #4E606C;
}