@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
.request * {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: #3A3A3A;
}
.request {
    display: flex;
    padding: 30px;
}
.request-left {
    width: 30%;
}
.request-right {
    width: 70%;
}
.request-group {
    display: flex;
}
.request-header {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 40px;
}
label {
    width: 50%;
}
label span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
label.large {
    width: 100%;
}
label span {
    display: block;
}
label input, label select {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #969B9B;
    border: 1px solid #969B9B;
    border-radius: 100px;
    padding-left: 24px;
    padding-top: 14px;
    padding-right: 58px;
    padding-bottom: 14px;
    width: 100%;
}
.list-item{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 34px;
    opacity: 0.3;
}
.list-item-active {
    opacity: 1;
}
.list-item img {
    width: 24px;
    margin-right: 25px;
}